/* Your custom CSS (Navbar.css) */
/* This is your custom CSS to add any additional styling or overrides for the Bootstrap Navbar component */

/* Adjust the logo size and margin */
.logo-img {
  width: 150px;
  margin-left: 20px;
}

/* Customize the background color and padding for the Navbar */
.navbar {
  background-color: #2a2a2a;
  padding: 10px 0;
}

/* Style the navigation links */
.nav-link {
  color: #dbdbdb; /* Change link color */
  font-weight: bold;
}
.nav-link:hover {
  color: #D8E9A8; /* Change link color */
  font-weight: bold;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Add any additional custom styles as needed */

/* Mobile Styles */
@media (max-width: 768px) {
  /* Hide standard navigation links */
  /* .navbar-nav {
    display: none;
  } */

  /* Display a list of mobile menu items in the dropdown */
  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-nav.show {
    display: block;
  }

  /* Style the mobile navigation links */
  .nav-link.mobile {
    color: #333; /* Change link color */
    font-weight: bold;
    padding: 1rem 1rem; /* Adjust padding for mobile items */
  }
  
}
