/* Results.css */
body {
  /* Reset margin and padding for the body element to avoid unwanted spacing */
  margin: 0;
  padding: 0;

  /* Set the background image to cover the entire viewport */
  background: url('../images/bg1.jpg') center center;
  background-size: cover;

  /* Background color in case the image is not fully loaded or unavailable */
  background-color: #000000;
  color: #fdfdfd; /* Text color for content */
}
.Results {
  
  position: relative;
  background-color: #000000;
  background: url('../images/bg1.jpg') center center;
  background-size: cover;
  /* opacity: 0.1; */
  height: 100vh;
  }
  
  .lightfont {
    /* Define styles for text with lightfont class */
    color: #fdfdfd;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

  }
  .lightfontbold {
    /* Define styles for text with lightfont class */
    color: #fdfdfd;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

  }
  .boldfont{
    font-weight: 600;
    color: #D8E9A8;
  }
  .boldfontprecition{
    font-weight: 600;
    color: #ffffff;
  }
  .boldfontcon{
    font-weight: 600;
    color: #baffd7;
  }

  /* Add any additional styling you need for the Results component */
  /* Add this to your Results.css file */

.tabs-container {
  display: flex;
  flex-direction: column;
}

.tabs-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.tab-item {
  cursor: pointer;
  padding: 10px;
  color: #333;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  text-align: center;
  transition: background-color 0.2s;
}

.tab-item.active {
  background-color: #d0ef05;
 
}
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.rounded-box {
  border-radius: 10px;
  color: white;
  text-align: center;
  padding-left: '150px' !important;
  font-weight: bold;
  background-color: rgb(131, 0, 0);
}
.rounded-box-green {
  border-radius: 10px;
  color: white;
  text-align: center;
  padding-left: '150px' !important;
  font-weight: bold;
  background-color: #4E9F3D;
}
.popup-content {
  margin: auto;
  background: rgb(255, 243, 149) !important;
  width: 60% !important;
  padding: 25px !important;
  color: #000000;
}
.popup-arrow {
  color: rgb(92, 0, 0);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
.popupbutton {
  background-color: #00000000 !important;
  border-color: #000000 !important;
  border-radius: 15px;
}