/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  .navbar-logo img {
    width: 40px;
    margin-left: 20px;
  }
  
  .navbar-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-links ul li {
    margin: 0 10px;
  }
  
  .navbar-links ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar-hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .bar.change {
    transform: rotate(-45deg);
    background-color: #0074d9; /* Blue background color when active */
  }
  
  .navbar-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    top: 60px;
    right: 0;
    width: 100%;
  }
  
  .navbar-links.active ul li {
    margin: 10px 0;
  }
  
  .navbar-hamburger.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .navbar-hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-hamburger.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* Media query for mobile responsiveness */
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
    }
  
    .navbar-links.active {
      display: block; /* Show the menu as a dropdown on mobile */
    }
  
    .navbar-links ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    .navbar-links ul li {
      text-align: center;
    }
    .navbar-hamburger {
        display: flex;
      }
}
  