/* UploadPage.css */
.UploadPage {
  text-align: center;
  position: relative;
  background-color: #fdfdfd;
  background: url('../images/bg1.jpg') center center;
  background-size: cover;
  /* opacity: 0.1; */
  height: 100vh;
  /* z-index: -100; */
}


.image-upload {
  flex: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  text-align: center;
  color: #000000;
}

.image-upload h2 {
  font-size: 24px;
}

.image-box {
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 20px;
}

.image-box img {
  width: 100%;
  height: auto;
}


/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .upload-content {
    flex-direction: column;
  }
}
