/* UploadPage.css */
.UploadPage {
  /* text-align: center; */
  position: relative;
  background-color: #fdfdfd;
  background: url('../images/bg1.jpg') center center;
  background-size: cover;
  /* opacity: 0.1; */
  height: 100vh;
}
.lightfont{
  color: #fdfdfd;
}
.green2-button {
  background-color: #269f2a; /* Green background color */
  font-weight: 600;
  color: rgb(4, 4, 4); /* Text color */
  border: 2px solid #000; /* Black border */
}

.green2-button:hover {
  background-color: #2ed50d; /* Light green background color on hover */
  color: #000; /* Black text color on hover */
  border: 2px solid #000; /* Black border */
}

hr {
  border: 0;
  height: 5px;
  background: white;
  margin: 20px 0; /* Add margin for spacing */
}
/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .upload-content {
    flex-direction: column;
  }
}
